@model Course



<div class="card shadow ">
    <div class="card-header text-white bg-dark d-flex justify-content-between">
        <h2 class="text-white ">@(Model.Id != 0 ? "Edit " : "Add ") Course </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark bg-dark text-light"></i>
        </button>

    </div>
    <div class="card-body ">
        <form class="m-3"
        id="upsertForm"
        asp-controller="Course"
        asp-action="UpSert"
        data-ajax="true"
        data-ajax-method="post"
        data-ajax-mode="replace"
        data-ajax-update="#modalBody"
        enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div>
                <label asp-for="Name" class="m-2"></label>
                <input class="form form-control w-100 m-2" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div>
                <label asp-for="Degree" class="m-2"></label>
                <input class="form form-control w-100 m-2" asp-for="Degree" />
                <span asp-validation-for="@Model.Degree" class="text-danger"></span>

            </div>
            <div>
                <label asp-for="MinDegree" class="m-2"></label>
                <input class="form form-control w-100 m-2" asp-for="MinDegree" />
                <span asp-validation-for="@Model.MinDegree" class="text-danger"></span>

            </div>
            <div>
                <label asp-for="Hours" class="m-2"></label>
                <input class="form form-control w-100 m-2" asp-for="Hours" />
                <span asp-validation-for="@Model.Hours" class="text-danger"></span>

            </div>
        
            <div>
                <label asp-for="Department" class="m-2"></label>
                <select class="form form-select" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.deptList, "Id", "Name"))">
                    <option value="0"> --Select Department--</option>
                </select>
                <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>

            </div>

            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class=" btn btn-success  form form-control">Save</button>
                <button type="button" class="btn btn-secondary form form-control" data-bs-dismiss="modal">Close</button>

            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial"/>