@model InstrWithCrsAndDept

@{
    var Depts= new SelectList(Model.Departments, "Id", "Name");
    var courses = new SelectList(Model.Courses, "Id", "Name");
}


<div class="card shadow ">
    <div class="card-header text-white bg-dark d-flex justify-content-between">
        <h2 class="text-white">@(Model.Id != 0 ? "Edit " : "Add ") Instructor </h2>
        <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark bg-dark text-light"></i>
        </button>

    </div>
    <div class="card-body ">

        <form id="upsertForm"
              asp-action="UpSert"
              asp-controller="Instructor"
              enctype="multipart/form-data"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-mode="replace"
              data-ajax-update="#modalBody">
            @* ← where the response will be injected *@
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input id="Id" name="Id" value="@Model?.Id" type="hidden" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div>
                <label class="m-2">Instructor Salary</label>
                <input class="form form-control w-100 m-2" asp-for="Salary" />
                <span asp-validation-for="@Model.Salary" class="text-danger"></span>

            </div>
            <div>
                <label class="m-2">Instructor Address</label>
                <input class="form form-control w-100 m-2" asp-for="Address" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>

            </div>
            <div>
                <label class="m-2">Instructor Image</label>
                <input type="file" name="file" value="@Model.Image" accept="image/*" />

            </div>

            <div>
                <label class="m-2">Department</label>
                <select class="form form-control" id="dept-id" asp-for="DepartmentId" asp-items="Depts" onchange="getCourses()">
                    <option value="0">--Select Department</option>
                </select>
            </div>
            <div>
                <label class="m-2">Course</label>
                <select class="form form-control" id="courses">
                    <option value="0">--Select Department First--</option>
                </select>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class=" btn btn-success  form form-control">Save</button>
                <button type="button" class="btn btn-secondary form form-control" data-bs-dismiss="modal">Close</button>

            </div>
        </form>

    </div>
</div>

<!-- unobtrusive validation (client‑side) -->
<partial name="_ValidationScriptsPartial" />

<script>
    function getCourses(){
        const deptId = $("#dept-id").val();
        $("#courses").html(`<option>-- Select Course -- </option>`);
          $.ajax({
              url: `/Instructor/GetDeptCrs/${deptId}`,
              success: function(result){
                   console.log(result);
                   for(let cr of result){
                       $("#courses").append(`<option>${cr.name}</option>`)
                   }    
              }
          });
       
    }
</script>

    

   